<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>乐购商店</title>
<link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body >
	<form action="http://localhost/thinkphp2/admin.php?s=home/goods/upd&id={$v[0].num}" method="POST">
		<label for="wareNum">编号</label>
		<input type="text" name="wareNum" id="wareNum" value="{$v[0].num}"><br/>
		<label for="wareName">名称</label>
		<input type="text" name="wareName" id="wareName" value="{$v[0].name}"><br/>
		<label for="wareCount">数量</label>
		<input type="text" name="wareCount" id="wareCount" value="{$v[0].count}"><br/>
		<label for="warePrice">价格</label>
		<input type="text" name="warePrice" id="warePrice" value="{$v[0].price}"><br/>
		<label for="warePic">图片</label>
		<input type="text" name="warePic" id="warePic" value="{$v[0].pic}"><br/>
		<label for="wareBrand">品牌</label>
		<input type="text" name="wareBrand" id="wareBrand" value="{$v[0].brand}"><br/>
		<label for="wareTime">时间</label>
		<input type="text" name="wareTime" id="wareTime" value="{$v[0].time}"><br/>
		<input type="submit" value="更新">
	</form>
	<a href="http://localhost/thinkphp2/admin.php?s=home/goods/showlist.html" target="right">返回</a>
</body>
</html>
