

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>乐购商店后台主页</title>
<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_PATH}/index.css">
</head>
<body>
	<div class="left">
		<ul class="navBarList" id = "navBarList">
			{foreach $trinfo as $k=>$v}
			<li>
				<a href="javascript:;"><span class="rec" id="rec"></span>{$v['auth_name']}</a>
				<ul>
					<!-- <li><a href="http://localhost/thinkphp2/admin.php?s=home/goods/showList.html" target="right">产品列表</a></li>
					<li><a href="#">产品介绍</a></li>
					<li><a href="#">产品销售</a></li>
					<li><a href="#">产品价格</a></li> -->
					{foreach $ttrinfo as $kk=>$vv}
						{if $v['auth_id'] == $vv['auth_pid']}
							<li><a href="{$vv['auht_c']}"."{$vv['auht_a']}">{$vv['auth_name']}</a></li>
						{/if}
					{/foreach}
				</ul>
			</li>
			{/foreach}
		</ul>
	</div>
	<script type="text/javascript">
    var navBar = document.getElementById('navBarList');
    var navBarList = navBar.getElementsByTagName('li');
    var navUl = [];
    for(var i=0;i<navBarList.length;i++){
	    navUl[i] = navBarList[i].getElementsByTagName('ul');
	    //这里拿到的只是ul的头节点
	    if(navUl[i].length){
		    (function(i){
		    	var rec;
		    	if(navBarList[i].getElementsByTagName('span').length){
		    		var rec = navBarList[i].getElementsByTagName('span')[0];
		    	}
			    	navBarList[i].onclick = function(){
			    	if(navUl[i][0].offsetHeight){
			    		navUl[i][0].style.height = "0";
			    		rec.className = 'rec';
			    	}else{
			    		navUl[i][0].style.height = "auto";
			    		rec.className = 'recActive';
			    	}
		    	}
		    })(i);
	    }
    }
</script>
</body>
</html>
